body {
  background-color: darkgrey;
   text-align: center;
   float: center;
}

.outerFrame{
  width:300px;
  border: red dashed 2px;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  background-color: white;
}

.form-group {
  width: 80px;
  margin: auto;
}

.list-group {
  width: 250px;
  margin: auto;
}

#upBtn {
  background: lightblue;
  width: 80px;
  position: relative;
  left: -20px;
  margin-bottom: 15px;
}

#downBtn {
  background: lightblue;
  width: 80px;
  position: relative;
  left: 20px;
  margin-bottom: 15px;
}

#upBtn:hover {
  background: orange;
}

#downBtn:hover {
  background: green;
}

#inputSmall {
  max-width: 40px;
  height: 35px;
  margin-bottom: 15px;
}

#switchDiv {
  margin-top: 15px;
}

#switchDiv {
  margin-top: 15px;
}

#resetBtn {
  width: 80px;
  margin-top: 15px;
}

#resetBtn:hover {
  background: darkred;
}
